<!--<div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
  <app-sidebar></app-sidebar>
  <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
</div>
<div class="main-panel">
  <app-navbar></app-navbar>
</div>-->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <div class="module">
    
    
    
    <div class="row justify-content-center">
    <div class="col-md-6">
    <div class="card">
    <header class="card-header">
     
      <h4 class="card-title mt-2">Sign up</h4>
    </header>
    <article class="card-body">
    <form>
      <div class="form-row">
        <div class="col form-group">
          <label>First name </label>   
            <input type="text" class="form-control" placeholder=""
           
            >
            
        </div> <!-- form-group end.// -->
        <div class="col form-group">
          <label>Last name</label>
            <input type="text" class="form-control" placeholder=" "
            
            >

          
          

        </div> <!-- form-group end.// -->
      </div> <!-- form-row end.// -->

      <div class="form-row">


        <div class="form-group col-md-6">
          <label>Email address</label>
          <input type="email" class="form-control" placeholder="">
          <small class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
      </div> <!-- form-group end.// -->
      <div class="form-group">
          <label class="form-check form-check-inline">
          <input  type="radio" name="gender" value="option1">
          <span class="form-check-label"> Male </span>
        </label>
        <label class="form-check form-check-inline">
          <input type="radio" name="gender" value="option2">
          <span class="form-check-label"> Female</span>
        </label>
      </div> <!-- form-group end.// -->
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>City</label>
          <input type="text" class="form-control"
         
          >
          
            
          
        </div> <!-- form-group end.// -->
        <div class="form-group col-md-6">
          <label>Country</label>
          <select id="inputState" class="form-control">
           
              <option>Tunisia</option>
              
          </select>
        </div> <!-- form-group end.// -->
      </div> <!-- form-row.// -->
      <div class="form-row">
            <div class="form-group col-md-6">
          <label>Postalcode</label>
            <input class="form-control" type="text">
        </div> <!-- form-group end.// -->  

      <div class="form-group col-md-6">
        <label>Birthday</label> <br>
        <input lass="form-control" type="date"  name="birthday"
       >
       
      </div> <!-- form-group end.// -->  
      <div class="form-group">
        <label>Create password</label>
          <input class="form-control" type="password"
         
          >
          
      </div> <!-- form-group end.// -->  
        <div class="form-group">
            <button type="submit" class="btn btn-danger btn-block"> Register  </button>
        </div> <!-- form-group// -->  
        
        
        <small class="text-muted">By clicking the 'Sign Up' button, you confirm that you accept our <br> Terms of use and Privacy Policy.</small>                                          
      </div>
    </form>
  </article>
</div>
  
    